<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
   <Name>edge_{{ inventory_hostname }}</Name>
   <Type>edge</Type>
   <IP>*</IP>
   <PrivacyProtection>{{ privacy }}</PrivacyProtection>
   <StunServer>stun.nictec.net:5349</StunServer>

   <Bind>
      <Providers>
         <OVT>
            <WorkerCount>1</WorkerCount>
         </OVT>
      </Providers>
      <Publishers>
         <DASH>
				<Port>80</Port>
				<WorkerCount>1</WorkerCount>
			</DASH>
         <WebRTC>
            <Signalling>
               <Port>3333</Port>
            </Signalling>
            <IceCandidates>
                <TcpRelay>*:3478</TcpRelay>
                <IceCandidate>*:10000-10005/udp</IceCandidate>
            </IceCandidates>
         </WebRTC>
      </Publishers>
   </Bind>
   <VirtualHosts>
      <VirtualHost>
         <Name>default</Name>
         <Host>
            <Names>
               <Name>{{ edge_domain }}</Name>
               <Name>{{cdn_domain}}</Name>
            </Names>
         </Host>
         <Origins>
            <Properties>
               <NoInputFailoverTimeout>3000</NoInputFailoverTimeout>
               <UnusedStreamDeletionTimeout>60000</UnusedStreamDeletionTimeout>
            </Properties>
            <Origin>
               <Location>/dash/</Location>
               <Pass>
                  <Scheme>ovt</Scheme>
                  <Urls>
                     <Url>{{dash_ingest_url}}</Url>
                  </Urls>
               </Pass>
            </Origin>
            <Origin>
               <Location>/webrtc/</Location>
               <Pass>
                  <Scheme>ovt</Scheme>
                  <Urls>
                     <Url>{{webrtc_ingest_url}}</Url>
                  </Urls>
               </Pass>
            </Origin>
         </Origins>
         <Applications>
            <Application>
               <Name>dash</Name>
               <Type>live</Type>
               <Providers>
                  <OVT></OVT>
               </Providers>
               <Publishers>
                  <DASH>
                     <CrossDomains>
                        <Url>*</Url>
                     </CrossDomains>
                  </DASH>
               </Publishers>
            </Application>
            <Application>
               <Name>webrtc</Name>
               <Type>live</Type>
               <Providers>
                  <OVT></OVT>
               </Providers>
               <Publishers>
                  <WebRTC>
                     <Timeout>30000</Timeout>
                     <Rtx>true</Rtx>
                     <Ulpfec>true</Ulpfec>
                  </WebRTC>
               </Publishers>
            </Application>
         </Applications>
      </VirtualHost>
   </VirtualHosts>
</Server>