<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
	<Name>ingest_{{ inventory_hostname }}</Name>
	<Type>origin</Type>
	<IP>*</IP>
	<PrivacyProtection>{{ privacy }}</PrivacyProtection>

	<Bind>
		<Managers>
			<API>
				<Port>8081</Port>
			</API>
		</Managers>
		<Providers>
			<RTMP>
                                <Port>1935</Port>
                                <WorkerCount>1</WorkerCount>
                        </RTMP>
                        <SRT>
                                <Port>9999</Port>
                                <WorkerCount>1</WorkerCount>
                        </SRT>
		</Providers>
		<Publishers>
			<OVT>
				<Port>9000</Port>
			</OVT>
			<!--
			<FILE>
				<RootPath>/var/recordings</RootPath>
				<FilePath>/${VirtualHost}/${Application}/${Stream}/${StartTime:YYYYMMDDhhmmss}_${EndTime:YYYYMMDDhhmmss}.mp4</FilePath>
				<InfoPath>/${VirtualHost}/${Application}/${Stream}.xml</InfoPath>
			</FILE>
			-->
		</Publishers>
	</Bind>
	<Managers>
		<Host>
			<Names>
				<Name>*</Name>
			</Names>
		</Host>
		<API>	
			<AccessToken>{{ome_api_key}}</AccessToken>
		</API>
	</Managers>
	<VirtualHosts>
		<VirtualHost>
			<Name>default</Name>
			<Host>
				<Names>
					<Name>{{ domain }}</Name>
				</Names>
			</Host>
			<AdmissionWebhooks>
				<ControlServerUrl>{{ control_server_url }}</ControlServerUrl>
				<SecretKey>{{ome_secret_key}}</SecretKey>
				<Timeout>3000</Timeout>
				<Enables>
					<Providers>rtmp,srt</Providers>
				</Enables>
			</AdmissionWebhooks>
			<Applications>
				<Application>
					<Name>default</Name>
					<Type>live</Type>
					<OutputProfiles>
						<OutputProfile>
							<Name>HD</Name>
							<OutputStreamName>${OriginStreamName}</OutputStreamName>
							<Encodes>
								<Video>
									<Codec>h264</Codec>
									<Width>1280</Width>
									<Height>720</Height>
									<Bitrate>2000000</Bitrate>
									<Framerate>30.0</Framerate>
									<Preset>fast</Preset>
								</Video>
								<Audio>
									<Codec>aac</Codec>
									<Bitrate>128000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
								</Audio>
								<Video>
									<Codec>vp8</Codec>
									<Width>1280</Width>
									<Height>720</Height>
									<Bitrate>1024000</Bitrate>
									<Framerate>30.0</Framerate>
								</Video>
								<Audio>
									<Codec>opus</Codec>
									<Bitrate>1024000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
								</Audio>
							</Encodes>
						</OutputProfile>
					</OutputProfiles>
					<Providers>
						<RTMP />
						<SRT />
					</Providers>
					<Publishers>
						<OVT />
					</Publishers>
				</Application>
			</Applications>
		</VirtualHost>
	</VirtualHosts>
</Server>
